*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px; 
}
body {
	line-height: 1;
	background-color: #6e6565;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.div {
	padding: 30px;
}
h2 {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 30px;
}

.block div {
	height: 300px;
	width: 300px;
	background-color: #fff;
	margin-bottom: 50px;
}
.block__one {
	border: 10px solid rgb(230, 226, 25);
	border-left: none;
	border-radius: 10px 20px 30px 50px;
	box-shadow: 10px 10px 10px 10px #000;
	opacity: 0.2;
}
.block__two {
	border-left: 10px dotted #be1b1b;
	border-right: 10px dashed #3125e4;
	border-top: 10px double #25e455;
	border-radius: 50%;
	box-shadow: inset 10px 10px 10px #000;
}
.block__three {
	outline: 10px solid #be1b1b;
	border-radius: 10%;
}
.block2 {
	text-align: center;
}
.block2 div {
	height: 300px;
	width: 300px;
	background-color: #fff;
	display: inline-block;
	margin-right: 50px;
}

.block2__one {
	border: 20px solid #19b6e6;
	border-right: none;
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow: 10px 10px 10px 10px #000;
}
.block2__two {
	border-top: 10px dotted #be1b1b;
	border-bottom: 10px dashed #3125e4;
	border-left: 10px double #25e455;
	border-radius: 30%;
	box-shadow: inset 10px 10px 10px #000;
	opacity: 0.3;
}
.block2__three {
	outline: 10px solid #4c1bbe;
	border-radius: 39% 61% 27% 73% / 40% 100% 0% 60% ;
}
.inline span {
	background-color: #fff;
}
.inline div {
	padding: 30px;
}
.span1 {
	border: 20px solid #19b6e6;
	border-bottom:20px dotted #19b6e6;
	border-right: none;
	line-height: 150%;
}
.span2 {
	outline: 10px solid #be1b1b;
	opacity: 0.5;
}
.span3 {
	border-radius: 50%;
}
.span4 {
	box-shadow: inset 10px 10px 10px #000;
}